.about {
    display: grid;
    justify-items: center;
    position: relative;

    &__title {
        font-size: 32px;
        width: 70%;
        text-align: center;
        margin: 1.5em;

        &--title {
            color: $dark-color;
        }
    }
}

.about-grid {
    display: grid;
}

.about-article {
    position: relative;

    &::before {
        content: '';
        height: 100%;
        width: 22%;
        border-radius: 0 100px 34px 0;
        border: 5px solid $secondary-color;
        border-left: none;
        position: absolute;
        right: 0px;
        top: 0;
        z-index: 1;
    }

    &:nth-child(even)::before {
        content: "";
        height: 100%;
        width: 80%;
        border-radius: 100px 0 0 34px;
        border: 5px solid $secondary-color;
        border-right: none;
        position: absolute;
        left: 0px;
        top: -5px;
        z-index: 1;
    }
}

.article-header {
    display: grid;
    position: relative;
    top: 2em;

    &::before {
        content: "";
        width: 40px;
        height: 40px;
        position: absolute;
        border-radius: 50%;
        border: 5px solid $secondary-color;
        z-index: 10;
    }

    &::before {
        right: 4em;
        background-image: url('/images/conocenos/icons/ICONO-3D-NELSON.png');
        background-size: cover;
        top: -3em;
    }

    // &__picture {}

    // &__images {}

    &__title {
        border: 1px solid;
        text-transform: capitalize;
        background: $primary-color;
        color: #fff;
        padding: .4em;
        border-radius: 100px 0 0 100px;
        width: fit-content;
        justify-self: flex-end;
    }
}

.article-section {

    width: 81%;
    padding: 1em;
    position: relative;

    &:first-child::after {
        content: "";
        border-radius: 50%;
        width: 40px;
        height: 40px;
        border: 3px solid $secondary-color;
        position: absolute;
        right: 4em;
        bottom: -1em;
        z-index: 10;
        background: red;
    }

    &__paragraph {
        padding: 0 1em;
    }

    &__picture {
        width: 300px;
        justify-self: center;
    }

    &__images {
        padding: 1em;
    }

    &:first-child &__subtitle {
        border-radius: 39px 0 0 7px;
        background: $color-nrg;
        padding: .5em;
        color: #fff;
        width: 30%;
        position: absolute;
        display: grid;
        bottom: 1rem;
        text-align: center;
        right: 0;

        &--year {
            font-size: 55px;
        }
    }

    &__subtitle {
        transform: rotate(-90deg);
        position: absolute;
        top: 3.7em;
        background: #008380;
        color: #fff;
        z-index: 9;
        left: 9em;
        width: 85%;
        text-align: center;
        padding: 2%;
        padding-right: 5%;
        border-radius: 100px 0 0 100px;
        text-transform: capitalize;
    }
}

.about-article:first-child .article-header::before {
    background: #fff;
    border: 5px solid $secondary-color;
}

.about-article:first-child .article-section {
    width: 100%;
}

.about-article:nth-child(even) .article-header::before {
    right: 1.2em;
    top: -3.5em;
}